
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

  /* Common Style */

body{
  margin: 0 auto;
  font-family: 'Work Sans', sans-serif;
}

.btn-primary{
  border-radius: 8px;
  background-color: #FF900E;
  padding: 1rem;
  border: 0;
  cursor: pointer;
}
.p-text{
  color: #727272;
  text-align: justify;
}
/* Header Style */
.header-container{
  background-color:rgba(255, 144, 14, 0.10);
}
.section-padding{
  padding: 10px 150px;
}
.center-text{
  text-align: center;
}
/* Navbar Style */
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid tomato; */
}
.nav-title{
  font-size: 2.8rem;
}
.menus{
  display: flex;
  list-style: none; 
}
.menus li{
  padding: 20px;
  font-size: 1rem;
  font-weight: 500;
}
.menus li a{
  text-decoration: none;
  color: #424242;
}
  /* Banner Style */
  .banner{

  }

 .banner-content{
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 50px;
 }
 .banner-title{
  font-size: 4em;
  font-weight: 700;
  color: #131313;
 }

 .banner img{
  width: 100%;
  border-radius: 8px;
 }
 /* Teams Style */
 .teams-container{
  display: flex;
  justify-content: center;
  align-items: center;
  /* border:1px solid tomato; */
 }
 .teams-image-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  padding-top: 50px;
 }
 .teams-image-container img{
  width: 13rem;
 }
 .teams-content{
  padding-left: 50px;
  /* border:1px solid tomato; */
 }
 .teams-title{
  font-size: 2.8rem;
  font-weight: 500;
  margin: 0 auto;
 }
 .quick-list{
  color: #727272;
 }
 .text-features{
  color: #FF900E;
 }
 /* Feature Style */

 .feature-container{
  display: flex;
  justify-content: center;
  /* border:1px solid tomato;  */
  column-gap: 20px;
  padding-top: 100px;
 }
 .feature-content{
  /* border:1px solid tomato;  */
 }
 .feature-title{
  color: #131313;
  font-size: 2.8rem;
 } 

 .feature-card-title{
  font-size: 1.2rem;
  color: #131313;
 }

 .feature-container img{
  /* border:1px solid tomato; */
  height: 700px;
  padding-left: 50px;
 }
 .feature-button{
  background-color: #FF900E;
  color: white;
  width: 12rem;
  text-align: center;
  position: relative;
  bottom: 100px;
 }

 .feature-btn-txt
{
  font-size: 2.5rem;
  font-weight: 700;
  padding-top: 20px;
}
.experience{
  font-size: 1rem;
  position: relative;
  bottom: 20px;
}
 /* Facts Style */
 .facts{

 }
 .facts-title{
  font-size: 2.8rem;
  font-weight: 700;
  margin: 0;
  color: #131313;
 }
 .facts-desc{
  width: 542px;
 }
/* facts card style */
.facts-card-container{
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
}
.facts-card-details{
  border-radius: 8px;
  border: 1px solid #FF900E;
  padding: 30px;
  text-align: center; 

}
.facts-card-digit{
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #424242;
}
.facts-card-desc{
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0;
}
.sponsors-container{
  padding-top: 100px;
  text-align: center;
}
.sponsors-title{
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 0px;
}
.sponsors-desc{
  margin-bottom: 30px;
  text-align: center;

}
.sponsors-images{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-content: center;
  justify-content: center;
  /* border: 1px solid #FF900E; */
}
.sponsors-images img{
  width: 120px;
}
/* Responsive Style for small devices */
@media screen and (max-width: 576px) {
  .section-padding{
    padding: 15px;
  }
  .navbar, .teams-container, .feature-container, .facts-card-container {
    flex-direction: column;
  }
  .teams-image-container{
    grid-template-columns: 1fr;
    margin-bottom: 20px;
  }
  .teams-image-container img{
    width: 100%;
  }
  .teams-content{
    padding-left: 0px;
  }
  .menus{
    padding: 0;
  }
  .feature-container img{
    width: 100%;
    padding: 0;
    height: auto;
  }

  .facts-card-container{
    align-items: center;
    row-gap: 10px;
  }
  .facts-title, .facts-desc{
    width: 100%;
    text-align: center;
  }
 .facts-card-details{
    width: fit-content;
    align-items: center;
  }
  
 }
 /* Tablet or Medium devices */
 @media screen and (min-width: 576px) and (max-width: 960px){
  .section-padding{
    padding: 15px;
  }
  .navbar, .teams-container, .feature-container, .facts-card-container {
    flex-direction: column;
  }
  .teams-image-container{
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 20px;
  }
  .teams-image-container img {
    width: 100%;
  }
  .teams-content{
    padding-left: 0px;
  }
  .facts-card-container{
    align-items: center;
    row-gap: 10px;
  }

 }
